
.list-img {
    width: 360px;
    height: 240px;
    object-fit: cover;
    overflow: hidden;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    border: 5px solid #808080;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.title-img {
    background-color: #fff;
    padding: 8px;
}
.figcaption {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border-bottom: 1px solid #a09999;
    border-left: 1px solid #a09999;
    border-right: 1px solid #a09999;
}

.counter {
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
}

.figcaption-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    padding-left: 16px;
}
input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
}

.btn-search {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    background: #466cf5;
    border: none;
    cursor: pointer;
}

.btn-search:hover,
.btn-search:focus {
    background-color: #6c8cff;
}

form {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 32px;
}

input:focus {
    outline: none;
    border-color: #4e75ff;
    box-shadow: 0 0 5px #4e75ff;
}